# Python
__pycache__/
catboost_info/

*.py[cod]
*.egg-info/
.eggs/
venv/
.venv/
env/

# Kaggle / Data
*.csv
*.zip
input/
data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
